:root {
    --ifm-color-primary: #d70016;
    --ifm-color-primary-dark: rgb(173, 0, 17);
    --ifm-color-primary-darker: rgb(136, 1, 15);
    --ifm-color-primary-darkest: rgb(97, 0, 10);
    --ifm-color-primary-light: rgb(255, 14, 38);
    --ifm-color-primary-lighter: rgb(255, 57, 77);
    --ifm-color-primary-lightest: rgb(255, 108, 123);
    --ifm-code-font-size: 95%;
}
