:root {
    --ifm-color-primary: #d70016;
    --ifm-color-primary-dark: #c20014;
    --ifm-color-primary-darker: #b70013;
    --ifm-color-primary-darkest: #97000f;
    --ifm-color-primary-light: #ed0018;
    --ifm-color-primary-lighter: #f70019;
    --ifm-color-primary-lightest: #ff1930;
    --ifm-code-font-size: 95%;
}
